* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    background-color: burlywood; 
    min-height:100vh;
    border:10px solid black;
}
.content{
    max-width:900px;
    margin:0 auto;
}
.top_section{
    margin-top:100px;
    display:flex;
    justify-content:space-between;
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color:blue;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align: end;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;

}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
}